# Tugas Python 1

* Silakan download dan kerjakan soal berikut dimanapun (laptop pribadi/google colab/etc.)
* Setelah selesai mengerjakan, upload file ini di tempat yang telah disediakan pada platform.
* Beri nama file seperti berikut: {username}-python-1.ipynb
* Contoh: testing-1123-python-1.ipynb
* Username dapat dilihat di dalam akun anda.
* Mohon **jangan mengubah** nama variabel yang telah diberikan.
* Namun anda diperbolehkan untuk menambah variabel apapun.
* Tutorial cara pengerjaan dapat dilihat [disini](https://discourse.pacmann.ai/t/pengumuman-video-tutorial/484).
---

1. Hitunglah $5+5$

In [1]:
jawaban_1 = #Tulis jawaban akhir disini

2. Hitunglah $2^{10}$

In [2]:
jawaban_2 = #Tulis jawaban akhir disini

3. Buatlah sebuah string yang berisi nama anda.

In [ ]:
jawaban_3 = #Tulis jawaban akhir disini

4. Ubahlah string berikut menjadi sebuah nilai integer

In [ ]:
angka = "1945"
jawaban_4 = #Tulis jawaban akhir disini

5. Ubahlah float berikut menjadi sebuah string

In [ ]:
pi = 3.14159265359
jawaban_5 = #Tulis jawaban akhir disini

6. Ambillah karakter pertama dari string berikut

In [ ]:
teks = "pacmann"
jawaban_6 = #Tulis jawaban akhir disini

7. Ambillah karakter terakhir dari string berikut.

In [ ]:
teks = "pacmann"
jawaban_7 = #Tulis jawaban akhir disini

8. Ambillah 4 karakter pertama dari string berikut dengan menggunakan slicing!

In [ ]:
teks = "bangunan"
jawaban_8 = #Tulis jawaban akhir disini

9. Tono memiliki 4 kelereng, Budi memiliki 5 kelereng. Berapakah total jumlah kelereng yang dimiliki mereka berdua?

In [ ]:
jawaban_9 = #Tulis jawaban akhir disini

10. Budi memiliki 10 lemper, dan Budi membagikan 10 lemper yang dimilikinya kepada 5 orang temannya secara rata. Berapa lemper yang diterima oleh masing-masing teman budi?

In [ ]:
jawaban_10 = #Tulis jawaban akhir disini

11. Hitunglah nilai dari operasi matematik berikut $\left(\frac{3*8}{4}\right) + (4*5)$

In [ ]:
jawaban_11 = #Tulis jawaban akhir anda disini

12. Lala sedang berbelanja barang di supermarket, dengan harga terlampir di bawah ini. Lala membeli 1 potong ayam, 4 ekor ikan kembung, 3 ikat kangkung, dan 2 botol susu. Lalu Lala mendapat diskon sebesar 25% dari total harga yang dibayarkan 

    Tuliskan biaya yang harus dibayar Adi sebagai operasi di bawah ini dan jalankan perhitungannya.

| barang      | harga  |
|-------------|--------|
| ayam        | 20000  |
| ikan kembung| 15000 |
| sayur kangkung | 10000  |
| susu        | 22000  |

In [ ]:
# Anda bisa menuliskan kode apapun disini

jawaban_12 = #Tulis jawaban akhir anda disini

13. Surti, remaja anak bapak kades dan si Tejo, jejaka yang baru saja mudik berencana untuk menikah 2 tahun dari sekarang. Jika biaya pernikahan dan resepsi di kampung mereka adalah 48.000.000, berapa uang yang harus ditabung mereka berdua per bulannya agar 2 tahun lagi mereka bisa menikah?

    asumsi: tidak ada inflasi, dan semua harga selalu konstan.

In [ ]:
# kode anda
jawaban_13 = #Tulis jawaban akhir anda disini

14. Sebuah bioskop ingin memutar film dan menampilkan judul film tersebut di website mereka. Namun judul film tersebut semuanya memakai huruf kecil. Bantulah bioskop tersebut

Hint: Pakai method di dalam string

In [ ]:
judul = 'the lord of the rings: the return of the king'
jawaban_14 = #Tulis jawaban akhir anda disini

15. Carilah ada berapa kata 'gandalf' di dalam teks berikut. (tidak case sensitive)

In [3]:
teks = "Centuries later, during the War of the Ring, Gandalf leads Aragorn, Legolas, Gimli, and King Théoden to Isengard, \
        where they reunite with Merry and Pippin. Gandalf retrieves the defeated Saruman's palantír. Pippin later looks  \
        into the seeing-stone and is seen by Sauron. From Pippin's description of his visions, Gandalf surmises that Sauron \
        will attack Gondor's capital Minas Tirith. He rides there to warn Gondor's steward Denethor, taking Pippin with him."

# kode anda
jawaban_15 = #Tulis jawaban akhir anda disini