# Tugas Python 1

* Silakan download dan kerjakan soal berikut dimanapun (laptop pribadi/google colab/etc.)
* Setelah selesai mengerjakan, upload file ini di tempat yang telah disediakan pada platform.
* Beri nama file seperti berikut: {username}-python-1.ipynb
* Contoh: johndoe1-python-1.ipynb
* Username dapat dilihat di dalam akun anda.
* Mohon jangan mengubah nama variabel yang telah diberikan.
* Namun anda diperbolehkan untuk menambah variabel apapun.
---

1. Hitunglah $5+5$

In [1]:
jawaban_1 = 5+5
print(jawaban_1)

10

2. Hitunglah $2^{10}$

In [2]:
jawaban_2 = 2**10 #Tulis jawaban akhir disini
print(jawaban_2)

1024

3. Buatlah sebuah string yang berisi nama anda.

In [3]:
jawaban_3 = "Joni" #Tulis jawaban akhir disini
print(jawaban_3)

Joni

4. Ubahlah string berikut menjadi sebuah nilai integer

In [4]:
angka = "1945"
jawaban_4 = int(angka) #Tulis jawaban akhir disini
type(jawaban_4)

int

5. Ubahlah float berikut menjadi sebuah string

In [5]:
pi = 3.14159265359
jawaban_5 = str(pi) #Tulis jawaban akhir disini
type(jawaban_5)

str

6. Ambillah karakter pertama dari string berikut

In [6]:
teks = "pacmann"
jawaban_6 = teks[0] #Tulis jawaban akhir disini
print(jawaban_6)

p

7. Ambillah karakter terakhir dari string berikut.

In [7]:
teks = "pacmann"
jawaban_7 = teks[-1] #Tulis jawaban akhir disini
print(jawaban_7)

n

8. Ambillah 4 karakter pertama dari string berikut dengan menggunakan slicing!

In [8]:
teks = "bangunan"
jawaban_8 = teks[:4]#Tulis jawaban akhir disini
print(jawaban_8)

bang

9. Tono memiliki 4 kelereng, Budi memiliki 5 kelereng. Berapakah total jumlah kelereng yang dimiliki mereka berdua?

In [9]:
jawaban_9 = 4+5 #Tulis jawaban akhir disini
print(jawaban_9)

9

10. Budi memiliki 10 lemper, dan Budi membagikan 10 lemper yang dimilikinya kepada 5 orang temannya secara rata. Berapa lemper yang diterima oleh masing-masing teman budi?

In [10]:
jawaban_10 = 10/5 #Tulis jawaban akhir disini
print(jawaban_10)

2.0

11. Hitunglah nilai dari operasi matematik berikut $\left(\frac{3*8}{4}\right) + (4*5)$

In [11]:
jawaban_11 = ((3*8)/4) + (4*5) #Tulis jawaban akhir anda disini
print(jawaban_11)

26.0

12. Lala sedang berbelanja barang di supermarket, dengan harga terlampir di bawah ini. Lala membeli 1 potong ayam, 4 ekor ikan kembung, 3 ikat kangkung, dan 2 botol susu. Lalu Lala mendapat diskon sebesar 25% dari total harga yang dibayarkan 

    Tuliskan biaya yang harus dibayar Adi sebagai operasi di bawah ini dan jalankan perhitungannya.

| barang      | harga  |
|-------------|--------|
| ayam        | 20000  |
| ikan kembung| 15000 |
| sayur kangkung | 10000  |
| susu        | 22000  |

In [12]:
# Anda bisa menuliskan kode apapun disini
ayam = 20000
ikan = 15000
sayur = 10000
susu = 22000
jawaban_12 = (1-0.25) * (1*ayam + 4*ikan + 3*sayur + 2*susu) #Tulis jawaban akhir anda disini
print(jawaban_12)

115500.0

13. Surti, remaja anak bapak kades dan si Tejo, jejaka yang baru saja mudik berencana untuk menikah 2 tahun dari sekarang. Jika biaya pernikahan dan resepsi di kampung mereka adalah 48.000.000, berapa uang yang harus ditabung mereka berdua per bulannya agar 2 tahun lagi mereka bisa menikah?

    asumsi: tidak ada inflasi, dan semua harga selalu konstan.

In [13]:
biaya = 48000000
bulan = 2 * 12
jawaban_13 = biaya/bulan #Tulis jawaban akhir anda disini
print(jawaban_13)

2000000.0

14. Sebuah bioskop ingin memutar film dan menampilkan judul film tersebut di website mereka. Namun judul film tersebut semuanya memakai huruf kecil. Bantulah bioskop tersebut

In [14]:
judul = 'the lord of the rings: the return of the king'
jawaban_14 = judul.title() #Tulis jawaban akhir anda disini
print(jawaban_14)

The Lord Of The Rings: The Return Of The King

15. Carilah ada berapa kata 'gandalf' di dalam teks berikut. (tidak case sensitive)

In [15]:
teks = "Centuries later, during the War of the Ring, Gandalf leads Aragorn, Legolas, Gimli, and King Théoden to Isengard, \
        where they reunite with Merry and Pippin. Gandalf retrieves the defeated Saruman's palantír. Pippin later looks  \
        into the seeing-stone and is seen by Sauron. From Pippin's description of his visions, Gandalf surmises that Sauron \
        will attack Gondor's capital Minas Tirith. He rides there to warn Gondor's steward Denethor, taking Pippin with him."

teks = teks.lower()
jawaban_15 = teks.count('gandalf') #Tulis jawaban akhir anda disini
print(jawaban_15)

3